@media (max-width: 1024px) {
  .footer__main {
    flex-direction: column;
    gap: 15px;
  }
  .modServices.overlapped > ul > li {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .modServices > ul > li {
    margin-right: 0;
    margin-bottom: 0;
  }
  .map {
    display: none;
  }
  .box-content {
    position: static;
  }
  .df{
    justify-content: center;
  }
}
@media (max-width: 788px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .card {
    width: 100%;
    max-width: 200px;
  }
  .modSwiperSlider .swiper-slide img,
  .modSwiperSlider {
    height: auto;
  }

  .style-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .works__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .modSectionGrid {
    display: flex;
    flex-direction: column;
  }
  .order-form {
    flex-direction: column;
  }
  .order_img_one {
    width: 100%;
  }
  .modSectionContacts{
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 445px) {
  .works__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .modBlogNews .title {
    padding-left: 0;
  }
  .order_titles {
    width: 100%;
  }
  .modSectionContacts{
    align-items: center;
  }
}
