@media (max-width: 1024px) {
  .footer__main {
    flex-direction: column;
    gap: 15px;
  }
  .modServices.overlapped > ul > li {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .modServices > ul > li {
    margin-right: 0;
    margin-bottom: 0;
  }
  .map {
    display: none;
  }
  .box-content {
    position: static;
  }
  .df {
    justify-content: center;
  }
}
@media (max-width: 788px) {
  .header__container {
    gap: 0;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .card {
    width: 100%;
    max-width: 200px;
  }
  .modSwiperSlider .swiper-slide img,
  .modSwiperSlider {
    height: auto;
  }

  .style-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .works__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .modSectionGrid {
    display: flex;
    flex-direction: column;
  }
  .order-form {
    flex-direction: column;
  }
  .order_img_one {
    width: 100%;
  }

  /* Мобильные стили для хедера */
  .header__bottom {
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-block: 5px 25px;
  }

  .header__image {
    position: relative;
  }

  .header__img {
    position: static;
    width: 80px;
    height: 80px;
  }

  .burger-menu {
    display: block;
  }

  .header__nav {
    position: relative;
  }

  .header__list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    background: #bd3b13;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    min-width: 200px;
    z-index: 1000;
    gap: 15px;
    box-shadow: -1px 8px 8px 2px rgba(34, 60, 80, 0.3);
  }

  .header__list.active {
    display: flex;
  }

  .header__link {
    font-size: 21px;
    line-height: 1.2;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .header__link:hover {
    background: #842002;
    transform: translateX(-2px);
  }
  .header__container {
    margin-bottom: 0;
  }
  .modSectionContacts {
    grid-template-columns: 1fr;
  }
  .modBlogNews .title {
    padding-left: 0;
  }
  .header__burger-button {
    display: inline-flex !important;
  }
  .modNivoSlider {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
  }
}
@media (max-width: 445px) {
  .works__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .order_titles {
    width: 100%;
  }
  .dropdown-option {
    max-width: 155px;
  }
  .dropdown {
    gap: 10px;
    padding-inline: 0;
    justify-content: center;
  }
  .dropdown-option{
    padding:8px 5px;
  }
  .imageGallery img{
    max-width: 140px;
    height: auto;
  }
  .imageGallery{
    padding: 0;
    padding-top: 10px;
  }
  .sealOption{
    font-size: 15px;
  }
  .seals-container img{
    max-width: 120px;
    width: 100%;
    height: auto;
  }
  .seals_img-div{
    height: 100%;
    max-width: 120px;
  }
  .seals-div{
    gap: 0;
  }
  .seals-div p{
    white-space: wrap;
  }
  .seals-container{
    justify-content: center;
    padding: 15px 0 0 0 ;
  }
}
