html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* @font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia.ttf");
  src: url("../fonts/georgia.eot") format("eot"),
    url("../fonts/georgia.woff") format("woff");
  font-weight: 800;
} */

@font-face {
  font-family: "Steelfish";
  src: url("../fonts/stell/steelfishbd.woff");
  /*font-weight: bold;*/
}

@font-face {
  font-family: "Steelfish-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Steelfish-Regular"),
    url("../fonts/stell/steelfish.woff") format("woff");
}

@font-face {
  font-family: "Steelfish-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Steelfish-Bold"),
    url("../fonts/stell/steelfish\ bd.woff") format("woff");
}

@font-face {
  font-family: "SteelfishOutline-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SteelfishOutline-Regular"),
    url("../fonts/stell/steelfish\ outline.woff") format("woff");
}
@font-face {
  font-family: "Nexa Script Heavy";
  src: url("../fonts/11325.ttf");
  font-weight: 800;
}

.Steelfish {
  font-family: "Steelfish";
  font-weight: bold;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  color: #bd3b13;
  text-decoration: none;
}

a:hover {
  color: #333333;
}

.uslug {
  font-family: "Oswald", sans-serif !important;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4a4a43;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Oswald", sans-serif !important;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.image {
  border: 1px solid #d2d2cb;
  padding: 1px;
  background: white;
  /* display: block; */
  min-height: 170px;
  pointer-events: none;
}

.image img {
  display: block;
  border: 6px solid #f7f7f3;
}

.button {
  color: white;
  background: #bd3b13;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(189, 59, 19, 0.2);
  -moz-box-shadow: 3px 3px 0px 0px rgba(189, 59, 19, 0.2);
  box-shadow: 3px 3px 0px 0px rgba(189, 59, 19, 0.2);
  text-transform: uppercase;
  font-family: Steelfish, "helvetica neue", helvetica, arial, sans-serif;
  letter-spacing: 0.05em;
  font-size: 24px;
  padding: 7px 20px;
  margin: 10px 10px 10px 0;
}

.button:hover {
  color: #fde8e8;
}

body {
  background: url(../images/pattern-1.png) left top repeat;
  font-family: "droid serif", Georgia, times, serif;
}

body.pattern-1 {
  background: url(../images/pattern-1.png) left top repeat;
}

body.pattern-2 {
  background: url(../images/pattern-2.png) left top repeat;
}

body.pattern-3 {
  background: url(../images/pattern-3.png) left top repeat;
}

body.pattern-4 {
  background: url(../images/pattern-4.png) left top repeat;
}

body.pattern-5 {
  background: url(../images/pattern-5.png) left top repeat;
}

body.pattern-6 {
  background: url(../images/pattern-6.png) left top repeat;
}

body.pattern-7 {
  background: url(../images/pattern-7.png) left top repeat;
}

body.pattern-8 {
  background: url(../images/pattern-8.png) left top repeat;
}

body.pattern-9 {
  background: url(../images/pattern-9.png) left top repeat;
}

body.pattern-10 {
  background: url(../images/pattern-10.png) left top repeat;
}

body #header {
  background: url(../images/header_bg2.png) 0 59px repeat-x;

  position: relative;
  min-width: 960px;
}

body #main {
  margin-bottom: 150px;
}

body #footer {
  width: 100%;
}

body.colorSchemeCyan #header {
  background: url(../images/header_bg_cyan.png) 0 59px repeat-x;
}

body.colorSchemeCyan #footer {
  background: url(../images/footer_bg_cyan.png) left top repeat-x;
}

body.colorSchemeCyan h1,
body.colorSchemeCyan h2,
body.colorSchemeCyan h3,
body.colorSchemeCyan h4,
body.colorSchemeCyan h5,
body.colorSchemeCyan h6 {
  color: #2a3f44;
}

body.colorSchemeCyan a {
  color: #53a9bc;
}

body.colorSchemeCyan a:hover {
  color: #ee6859;
}

body.colorSchemeCyan .button {
  color: white;
  background: #ee6859;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
  -moz-box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
  box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
}

body.colorSchemeCyan .button:hover {
  color: #fde8e8;
}
section {
  margin-bottom: 75px !important;
}
#footer {
  font-size: 12px;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
  margin-top: 50px;
}
.footer p,
.footer-address,
.footer-contact {
  margin: 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1;
  text-transform: none;
}
.footer__container {
  padding: 20px;
  background: url(../images/footer_bg.png) left top repeat-x;
}
.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p.copy {
  font-family: "droid serif", Georgia, times, serif;
  color: #89897a;
  font-size: 16px;
  text-align: center;
}

.oldie .button {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie body.colorSchemeCyan .button {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.modBlogNav {
  height: 24px;
  padding: 26px 0;
  font-size: 18px;
  font-style: italic;
  background: url(../images/blog-nav/blognav_bg.png) left top repeat-x;
}

.modBlogNav a.left {
  padding: 0 0 0 35px;
  background: url(../images/blog-nav/blognav_arrows.png) left 5px no-repeat;
}

.modBlogNav a.left:hover {
  background: url(../images/blog-nav/blognav_arrows.png) left -115px no-repeat;
}

.modBlogNav a.right {
  padding: 0 35px 0 0;
  background: url(../images/blog-nav/blognav_arrows.png) right -45px no-repeat;
}

.modBlogNav a.right:hover {
  background: url(../images/blog-nav/blognav_arrows.png) right -165px no-repeat;
}

.modBlogNav.colorSchemeCyan a.left {
  padding: 0 0 0 35px;
  background: url(../images/blog-nav/blognav_arrows_cyan.png) left 5px no-repeat;
}

.modBlogNav.colorSchemeCyan a.left:hover {
  background: url(../images/blog-nav/blognav_arrows_cyan.png) left -115px no-repeat;
}

.modBlogNav.colorSchemeCyan a.right {
  padding: 0 35px 0 0;
  background: url(../images/blog-nav/blognav_arrows_cyan.png) right -45px no-repeat;
}

.modBlogNav.colorSchemeCyan a.right:hover {
  background: url(../images/blog-nav/blognav_arrows_cyan.png) right -165px no-repeat;
}

.modBlogNews .title {
  text-transform: uppercase;
  margin-bottom: 40px;
  text-shadow: 1px 1px 0 #e5e5dd, 2px 2px 0 #cdcdcd;
  padding-left: 74px;
}

.modBlogNews .timestamp {
  background: #bcbcb3;
  width: 64px;
  height: 64px;
  margin-top: -4px;
  margin-bottom: 0;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  border-radius: 32px;
  color: white;
  padding: 5px 0 0;
}

.modBlogNews .timestamp .month {
  margin-top: 1px;
  display: block;
  font-style: italic;
  line-height: 1;
  font-size: 10px;
}

.modBlogNews .timestamp .date {
  display: block;
  font-weight: bold;
  font-size: 24px;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
}

.modBlogNews .timestamp .year {
  display: block;
  font-style: oblique;
  line-height: 1;
  font-size: 10px;
}

.modBlogNews h4 {
  color: #bd3b13;
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 76px;
  font-weight: bold;
}

.modBlogNews p.excerpt {
  margin-left: 76px;
}

.modBlogNews.colorSchemeCyan .timestamp {
  background: #b3babc;
}

.oldie .modBlogNews .timestamp {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie .modBlogNews h4 {
  margin-top: -20px;
}

.ie8 .modBlogNews p.excerpt {
  margin-bottom: 40px;
}

.modBlogPost {
  margin-bottom: 50px;
}

.modBlogPost .timestamp {
  background: #bcbcb3;
  width: 80px;
  height: 75px;
  margin: -6px 0 0 10px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  color: white;
  padding: 5px 0 0;
}

.modBlogPost .timestamp .month {
  margin-top: 5px;
  display: block;
  font-style: italic;
  font-size: 12px;
}

.modBlogPost .timestamp .date {
  display: block;
  font-weight: bold;
  font-size: 28px;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
}

.modBlogPost .timestamp .year {
  display: block;
  font-style: italic;
  font-size: 12px;
}

.modBlogPost .info {
  margin-left: 120px;
}

.modBlogPost .info p {
  color: #999999;
  margin-bottom: 15px;
}

.modBlogPost .info p a {
  color: #999999;
}

.modBlogPost .info p a:hover {
  color: #333333;
}

.modBlogPost .content {
  margin-left: 120px;
}

.modBlogPost h4 {
  font-size: 34px;
  font-weight: bold;
  color: #bd3b13;
  margin-bottom: 5px;
}

.modBlogPost img {
  max-width: 503px;
}

.modBlogPost blockquote {
  color: black;
  font-weight: bold;
  margin-bottom: 22px;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
  background: url(../images/blog-post/blockquote_bg.png) left 3px no-repeat;
  padding: 0 0 0 20px;
  margin-left: 20px;
}

.modBlogPost h5,
.modBlogPost h6 {
  color: black;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: 0.01em;
}

.modBlogPost h6 {
  font-size: 20px;
}

.modBlogPost ul {
  margin: 0 0 20px 40px;
}

.modBlogPost ul li {
  list-style: disc;
  padding: 0 0 5px;
}

.modBlogPost .comments-outer-wrapper {
  margin: 60px 0 0;
  padding: 0 0 0 120px;
  background: url(../images/blog-post/comments_bg.png) 10px 54px no-repeat;
}

.modBlogPost .comments-inner-wrapper {
  padding: 0 0 25px;
  background: url(../images/blog-post/section_bg.png) left bottom repeat-x;
}

.modBlogPost .comments {
  padding: 60px 0 0;
  background: url(../images/blog-post/section_bg.png) left top repeat-x;
}

.modBlogPost .comment {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 25px;
}

.modBlogPost .comment .name {
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: bold;
  margin-bottom: 3px;
}

.modBlogPost .comment .meta {
  position: relative;
  font-size: 12px;
  color: #666666;
  margin-bottom: 15px;
}

.modBlogPost .comment .meta a {
  color: #666666;
  font-size: 14px;
}

.modBlogPost .comment .meta a:hover {
  color: #bd3b13;
}

.modBlogPost .comment .meta img {
  right: 0;
  top: -20px;
  position: absolute;
}

.modBlogPost .comment .comment {
  padding: 25px 0 0 0;
  margin-left: 30px;
  border-bottom: none;
  border-top: 1px solid #dddddd;
}

.modBlogPost .no-border-bottom {
  border-bottom: none;
}

.modBlogPost.colorSchemeCyan .timestamp {
  background: #b3babc;
}

.modBlogPost.colorSchemeCyan .info p a:hover {
  color: #ee6859;
}

.modBlogPost.colorSchemeCyan .comments-outer-wrapper {
  background: url(../images/blog-post/comments_bg_cyan.png) 10px 54px no-repeat;
}

.modBlogPost.colorSchemeCyan .comment .meta a:hover {
  color: #53a9bc;
}

.oldie .modBlogPost .timestamp {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.modCaseStudy h5 {
  color: black;
  font-size: 20px;
  margin-top: 30px;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

.modCaseStudy ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

.modCaseStudy ul li {
  padding: 0 0 5px;
  list-style: disc;
}

.modCaseStudy .blog-nav-wrapper {
  padding-top: 30px;
}

.modCaseStudy img {
  max-width: 623px;
}

.modCommentForm {
  margin: 60px 0 0;
  padding: 6px 0 0 120px;
  background: url(../images/comment-form/comment_bg.png) 10px top no-repeat;
}

.modCommentForm form p {
  margin-bottom: 13px;
}

.modCommentForm form input,
.modCommentForm form textarea {
  background-color: rgba(188, 188, 179, 0.22);
  border: none;
  padding: 10px;
  font-size: 14px;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
}

.modCommentForm form textarea {
  height: 220px;
  width: 506px !important;
}

.modCommentForm form input {
  width: 220px;
  margin-right: 10px;
  float: left;
}

.modCommentForm form label {
  float: left;
  padding: 10px 0 0;
  border: none !important;
}

.modCommentForm form label span {
  color: #999999;
}

.modCommentForm form .error {
  border: 2px solid red;
}

.modCommentForm form .button {
  background: #bd3b13;
  font-family: Steelfish, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 24px;
  width: 180px;
  padding: 7px;
  margin: 10px 10px 10px 0;
}

.modCommentForm.colorSchemeCyan {
  background: url(../images/comment-form/comment_bg_cyan.png) 10px top no-repeat;
}

.modCommentForm.colorSchemeCyan .button {
  background: #ee6859;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
  -moz-box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
  box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
}

.oldie .modCommentForm form p {
  overflow: hidden;
}

.oldie .modCommentForm form p textarea {
  width: 490px !important;
}

.oldie .modCommentForm form p input,
.oldie .modCommentForm form p textarea {
  -pie-background: rgba(188, 188, 179, 0.3);
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie .modCommentForm form p .button {
  -pie-background: #bd3b13;
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie .modCommentForm.colorSchemeCyan .button {
  -pie-background: #ee6859;
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.modContactInfo .title {
  font-size: 20px;
  font-style: italic;
}

.modContactInfo ul li {
  display: flex;
  padding: 0px 0px 0px 60px;
  height: 50px;
  align-items: center;
  font-size: 22px;
}

.modContactInfo ul li.email {
  background: url(../images/contact-info/mail-icon.png) 100% / contain no-repeat;
  background-position: left;
}

.modContactInfo ul li.phone {
  background: url(../images/contact-info/phone-icon.png) 100% / contain
    no-repeat;
  background-position: left;
}

.modContactInfo ul li.skype {
  background: url(../images/contact-info/skype-icon.png) 100% / contain
    no-repeat;
  background-position: left;
}

.modContactInfo ul li.vcard {
  background: url(../images/contact-info/vcard-icon.png) 100% / contain
    no-repeat;
  background-position: left;
}

.modContactInfo.colorSchemeCyan ul li.email {
  background: url(../images/contact-info/mail-icon-cyan.png) 100% / contain
    no-repeat;
  background-position: left;
}

.modContactInfo.colorSchemeCyan ul li.phone {
  background: url(../images/contact-info/phone-icon-cyan.png) 100% / contain
    no-repeat;
  background-position: left;
}

.modContactInfo.colorSchemeCyan ul li.skype {
  background: url(../images/contact-info/skype-icon-cyan.png) 100% / contain
    no-repeat;
  background-position: left;
}

.modContactInfo.colorSchemeCyan ul li.vcard {
  background: url(../images/contact-info/vcard-icon-cyan.png) 100% / contain
    no-repeat;
  background-position: left;
}

.modContactUs .title {
  font-size: 20px;
  font-style: italic;
}

.modContactUs form input,
.modContactUs form textarea {
  background-color: rgba(188, 188, 179, 0.22);
  border: none;
  padding: 10px;
  font-size: 14px;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
}

.modContactUs form textarea {
  height: 220px;
  width: 100%;
  max-width: 620px !important;
}

.modContactUs form input {
  width: 320px;
  margin-right: 10px;
  float: left;
}

.modContactUs form label {
  float: left;
  padding: 10px 0 0;
  border: none !important;
}

.modContactUs form label span {
  color: #999999;
}

.modContactUs form .error {
  border: 2px solid #d36159;
}

.modContactUs form .button {
  background: #bd3b13;
  font-family: Steelfish, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 24px;
  width: 150px;
  padding: 7px;
  margin: 10px 10px 10px 0;
}

.modContactUs p.thanks {
  font-style: italic;
}

.modContactUs.colorSchemeCyan .button {
  background: #ee6859;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
  -moz-box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
  box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
}

.ie7 .modContactUs form p {
  overflow: visible;
}

.oldie .modContactUs input,
.oldie .modContactUs textarea {
  -pie-background: rgba(188, 188, 179, 0.3);
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie .modContactUs .button {
  -pie-background: #bd3b13;
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie .modContactUs.colorSchemeCyan .button {
  -pie-background: #ee6859;
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.modGallery {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.modGallery > ul.works-list > li .image-wrapper a.image span {
  display: none;
  position: absolute;
  background: black;
  color: white;
  z-index: 999;
  padding: 3px 5px;
  top: 45%;
  left: 32%;
}

.modGallery > ul.works__lsit > li .image-wrapper a:hover span {
  display: block;
}

.modGallery > ul.works__list > li .image-wrapper a:hover img {
  opacity: 0.4;
}

.modGallery > ul.works__list > li .image-wrapper a:hover img:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.modGallery .last {
  margin-right: 0 !important;
}

.modGallery {
  text-align: center;
  /* margin-bottom: 45px;
  margin-top: -20px; */
}

.modGallery ul.nav li {
  display: inline;
  line-height: 1em;
}
.modGallery ul.nav li:not(:first-child) {
  display: inline;
  padding: 0 0 0 16px;
  line-height: 1em;
  border-left: 1px solid #cecec7;
}

.modGallery ul.nav li a {
  font-family: "droid serif", Georgia, times, serif;
  font-size: 18px;
  color: #4a4a43;
  line-height: 1em;
  padding: 0 0 0 4px;
}

.modGallery ul.nav li a:hover,
.modGallery ul.nav li a.current {
  color: #bd3b13;
}

.modGallery ul.nav li#all {
  border: none;
}

.modGallery.colorSchemeCyan ul.nav li a:hover,
.modGallery.colorSchemeCyan ul.nav li a.current {
  color: #53a9bc;
}

.modGallery.colorSchemeCyan ul.works li a.image {
  background: #ee6859;
}

.works__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}
.works__item > .image-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.works__item > .image-wrapper img {
  transition-duration: 0.2s;
}
.modGetInTouch {
  width: 260px;
  height: 270px;
  background: #eeede7 url(../images/get-in-touch/contact_form_bg.png) left top
    no-repeat;
  border: 5px solid #eeede7;
  -webkit-border-radius: 205px;
  -moz-border-radius: 205px;
  -ms-border-radius: 205px;
  -o-border-radius: 205px;
  border-radius: 205px;
  float: right;
  margin-top: -70px;
  padding: 65px 70px;
  text-align: center;
}

.modGetInTouch h4 {
  font-size: 40px;
  text-shadow: 1px 1px 0 #e5e5dd, 2px 2px 0 #cdcdcd;
}

.modGetInTouch form p {
  margin-bottom: 0;
  margin-left: 15px;
}

.modGetInTouch form input,
.modGetInTouch form textarea {
  font-size: 12px;
  color: #4a4a43;
}

.modGetInTouch form .error {
  border: 2px solid #d36159 !important;
}

.modGetInTouch form label {
  display: none !important;
}

.modGetInTouch form input.button {
  -webkit-box-shadow: 0 3px 0px 0px rgba(189, 59, 19, 0.2);
  -moz-box-shadow: 0 3px 0px 0px rgba(189, 59, 19, 0.2);
  box-shadow: 0 3px 0px 0px rgba(189, 59, 19, 0.2);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  padding: 0;
  color: white;
  font-size: 14px;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
  margin-left: -15px;
  margin-top: 10px;
  text-transform: capitalize;
  font-weight: normal;
}

.modGetInTouch p.thanks {
  font-size: 18px;
  line-height: 1.5em;
  margin: 70px 0 0;
}

.oldie .modGetInTouch {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie .modGetInTouch form p {
  overflow: visible;
}

.modLinks {
  padding: 35px 0 0;
}

.modLinks h4 {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 0 #222222;
  font-weight: bold;
  letter-spacing: 0.1em;
}


@-webkit-keyframes rotateLogo {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotateLogo {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotateLogo {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes rotateLogo {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}


.header__background{
  background: url(../images/header_bg2.png) 0 75% repeat-x;
}
.header__container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 980px;
  margin-bottom: 75px;
}
.header__top{
  display: flex;
  justify-content: end;
}
.header__bottom{
  display: grid;
  grid-template-columns: 10% 90%;
  position: relative;
  padding-block: 0 35px;
}
.header__list{
  display: flex;
  gap: 30px;
  justify-content: end;
}
.header__link{
  padding: 5px 10px;
  color: white;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Steelfish", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 24px;
  align-items: center;
}
.header__link:hover,
.header__link.current{
  color: white;
  background: #842002;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-top: 1px solid #6e1b02;
  border-left: 1px solid #6e1b02;
  -webkit-box-shadow: 1px 1px 0 0 #ca6243;
  -moz-box-shadow: 1px 1px 0 0 #ca6243;
  box-shadow: 1px 1px 0 0 #ca6243;
  margin-top: -1px;
  margin-left: -1px;
}
.header__image{
}
.header__img{
  position: absolute;
  top: -70%;
}
.header__img:hover{
  -webkit-animation: rotateLogo 0.8s 1;
  -moz-animation: rotateLogo 0.8s 1;
  -o-animation: rotateLogo 0.8s 1;
  -ms-animation: rotateLogo 0.8s 1;
}



.modSwiperSlider {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 372px;
  border: 10px solid white;
}

.modSwiperSlider .swiper-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.modSwiperSlider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modSwiperSlider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Стили для пагинации */
.modSwiperSlider .swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.modSwiperSlider .swiper-pagination-bullet {
  width: 13px;
  height: 14px;
  background: #bcbcb3;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.modSwiperSlider .swiper-pagination-bullet-active {
  background: #bd3b13;
}

.oswald-font {
  font-family: "Oswald";
}



.modSectionHeader {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.modSectionHeader h3 {
  display: inline;
  background: url(../images/section-header/section_header_bg.png) 0 60% repeat-x;
  text-shadow: 1px 1px 0 #eeeedd, 2px 2px 0 #cacaca;
  margin: 0;
}

.modSectionHeader.empty {
  margin: 5px auto 30px;
}

.modSectionHeader.empty h3 {
  visibility: hidden;
}
.modSectionGrid{
  width: 100%;
  display: grid;
  grid-template-columns: calc(52% - 5px) calc(48% - 5px);
  gap: 10px;
}
.modSectionContacts{
  display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.modServices {
  max-width: 960px;
  margin: 0 auto 60px;
  overflow: auto;
}

.modServices > ul > li {
  background: url(../images/services/service_item_bg.png) left top no-repeat;
  width: 293px;
  height: 300px;
  float: left;
  text-align: center;
  padding-top: 35px;
  margin-right: 40px;
  margin-bottom: 50px;
}

.modServices > ul > li.no-margin-right {
  margin-right: 0;
}

.modServices > ul > li p {
  margin-bottom: 12px;
}

.modServices h4 {
  color: #bd3b13;
  margin-bottom: 12px;
  font-weight: bold;
  letter-spacing: 0.04em;
}

.modServices.overlapped {
  max-width: 819px;
  margin: 0 auto;
}
.modServices.overlapped > ul > li {
  margin-left: -30px;
  margin-bottom: 0;
  margin-right: 0;
}

.modServices.overlapped > ul > li.no-margin-left {
  margin-left: 0;
}

.modServices.colorSchemeCyan h4 {
  color: #53a9bc;
}

.modSidebarWidget {
  margin-bottom: 40px;
}

.modSidebarWidget h5 {
  font-size: 20px;
  font-family: "droid serif", Georgia, times, serif;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 0.01em;
  color: black;
}

.modSidebarWidget ul li {
  padding: 0 0 5px;
}

.modSidebarWidget ul li a span {
  color: #bcbcb3;
}

.modSidebarWidget ul.tweets li {
  padding: 0 0 20px;
}

.modSidebarWidget ul.tweets li .timestamp {
  font-size: 12px;
  color: #999999;
  display: block;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
}

.modSidebarWidget img {
  max-width: 282px;
}

.icons-sprite,
.modSocial ul > li > a.twitter,
.modSocial ul > li > a.facebook,
.modSocial ul > li > a.skype,
.modSocial ul > li > a.dribbble {
  background: url("../images/social/icons.png") no-repeat;
}

.modSocial {
  padding: 20px 0 0;
}

.modSocial ul {
  overflow: auto;
}

.modSocial ul > li {
  margin-bottom: 0;
  float: left;
}

.modSocial ul > li > a {
  text-indent: -9999px;
  display: block;
  margin-left: 10px;
  margin-bottom: 4px;
}

.modSocial ul > li > a.twitter {
  width: 23px;
  height: 22px;
  background-position: -60px 0;
}

.modSocial ul > li > a.facebook {
  width: 18px;
  height: 23px;
  background-position: -20px 0;
}

.modSocial ul > li > a.skype {
  width: 22px;
  height: 25px;
  background-position: -38px 0;
}

.modSocial ul > li > a.dribbble {
  width: 20px;
  height: 25px;
  background-position: 0 0;
}

.modSocial ul > li > a.twitter {
  margin-top: 1px;
}

.modSocial ul > li > a.twitter:hover {
  background-position: -60px -2px;
}

.modSocial ul > li > a.facebook:hover {
  background-position: -20px -2px;
}

.modSocial ul > li > a.skype:hover {
  background-position: -38px -2px;
}

.modSocial ul > li > a.dribbble:hover {
  background-position: 0 -2px;
}

.modStylePanel {
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 240px;
  margin-left: -228px;
}

.modStylePanel .panel-container {
  float: right;
  background: white;
  padding: 25px 5px 0 20px;
  width: 200px;
  -webkit-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  -ms-border-radius: 0 8px 8px 0;
  -o-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  border: 1px solid #dfdfdf;
  border-left: 0;
  -webkit-box-shadow: 3px 3px 0px 0 rgba(196, 196, 196, 0.4);
  -moz-box-shadow: 3px 3px 0px 0 rgba(196, 196, 196, 0.4);
  box-shadow: 3px 3px 0px 0 rgba(196, 196, 196, 0.4);
}

.modStylePanel h4 {
  font-family: "droid serif", Georgia, times, serif;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 0.01em;
  font-size: 18px;
  margin-bottom: 10px;
}

.modStylePanel ul {
  margin-bottom: 25px;
  overflow: auto;
}

.modStylePanel ul li {
  display: inline;
}

.modStylePanel a.switch {
  float: right;
  margin-left: -3px;
  margin-top: 40px;
  padding: 10px;
  -webkit-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  -ms-border-radius: 0 8px 8px 0;
  -o-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  border: 1px solid #dfdfdf;
  border-left: none;
  -webkit-box-shadow: 3px 3px 0px 0 rgba(196, 196, 196, 0.4);
  -moz-box-shadow: 3px 3px 0px 0 rgba(196, 196, 196, 0.4);
  box-shadow: 3px 3px 0px 0 rgba(196, 196, 196, 0.4);
  text-indent: -3000px;
  display: block;
  width: 20px;
  background: white url(../images/style-panel/switch_bg.png) 12px 10px no-repeat;
}

.modStylePanel a.switch.to-close {
  background: white url(../images/style-panel/switch_bg.png) 12px -30px no-repeat;
}

.modStylePanel a.color_scheme,
.modStylePanel a.bg_pattern {
  border: 1px solid #cccccc;
  padding: 5px 10px;
  width: 45px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  text-indent: -3000px;
}

.modStylePanel a.color_scheme:hover,
.modStylePanel a.bg_pattern:hover {
  border: 1px solid #999999;
}

.modStylePanel a#red {
  background: #bd3b13;
}

.modStylePanel a#cyan {
  background: #59a9bb;
}

.modStylePanel a#pattern-1 {
  background: url(../images/pattern-1.png) left top no-repeat;
}

.modStylePanel a#pattern-2 {
  background: url(../images/pattern-2.png) left top no-repeat;
}

.modStylePanel a#pattern-3 {
  background: url(../images/pattern-3.png) left top no-repeat;
}

.modStylePanel a#pattern-4 {
  background: url(../images/pattern-4.png) left top no-repeat;
}

.modStylePanel a#pattern-5 {
  background: url(../images/pattern-5.png) left top no-repeat;
}

.modStylePanel a#pattern-6 {
  background: url(../images/pattern-6.png) left top no-repeat;
}

.modStylePanel a#pattern-7 {
  background: url(../images/pattern-7.png) left top no-repeat;
}

.modStylePanel a#pattern-8 {
  background: url(../images/pattern-8.png) left top no-repeat;
}

.modStylePanel a#pattern-9 {
  background: url(../images/pattern-9.png) left top no-repeat;
}

.modStylePanel a#pattern-10 {
  background: url(../images/pattern-10.png) left top no-repeat;
}

.oldie .modStylePanel .panel-container {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie .modStylePanel a.switch {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie.ie7 body {
  overflow: hidden;
}

.oldie.ie7 .modStylePanel {
  width: 264px;
}

.modTagline {
  margin-bottom: 40px;
}

.modTagline h2 {
  text-shadow: 1px 1px 0 #f8f8ef, 2px 4px 0 #cdcdcd;
}

.modTagline h2 span {
  font-size: 42px;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  display: inline-block;
  position: relative;
  top: -20px;
}

.modTagline p {
  font-style: oblique;
  font-size: 22px;
  line-height: 1.3em;
  width: 70%;
  margin: 0 auto;
}

.oldie .modTagline h2 {
  zoom: 1;
  background: white;
  filter: progid:DXImageTransform.Microsoft.Chroma(Color=white) progid:DXImageTransform.Microsoft.DropShadow(OffX=2, OffY=4, Color=#cdcdcd);
}

.modTestimonials h3 {
  margin-bottom: 40px;
  text-shadow: 1px 1px 0 #e5e5dd, 2px 2px 0 #cdcdcd;
}

.modTestimonials .testimonials {
  background-color: rgba(155, 155, 143, 0.1);
  padding: 30px 30px 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.modTestimonials .testimonials blockquote {
  height: auto;
}

.modTestimonials .testimonials p {
  width: 340px;
  padding: 50px 0 0 30px;
  margin-bottom: 10px;
  background: url(../images/testimonials/quote_left.png) left top no-repeat;
}

.modTestimonials .testimonials cite {
  width: 369px;
  padding: 50px 0 0 30px;
  background: url(../images/testimonials/quote_right.png) right top no-repeat;
}

.modTestimonials ul.pagination {
  float: right;
  padding: 15px 30px 0 0;
}

.modTestimonials ul.pagination li a {
  width: 10px;
  height: 16px;
  padding: 0;
  display: block;
  float: left;
  text-indent: -2000px;
  background: url(../images/testimonials/testimonials_control.png) -14px 4px no-repeat;
}

.modTestimonials ul.pagination li a:hover {
  border: none;
}

.modTestimonials ul.pagination li.current a {
  border: none;
  background: url(../images/testimonials/testimonials_control.png) left 4px
    no-repeat;
}

.modTestimonials.colorSchemeCyan .testimonials p {
  background: url(../images/testimonials/quote_left_cyan.png) left top no-repeat;
}

.modTestimonials.colorSchemeCyan .testimonials cite {
  background: url(../images/testimonials/quote_right_cyan.png) right top
    no-repeat;
}

.oldie .modTestimonials .testimonials {
  -pie-background: rgba(155, 155, 143, 0.1);
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie.ie7 .modTestimonials {
  overflow: visible;
}

.cards {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  cursor: pointer;
}

/* .card .uslug_img {
  width: 200px;
  height: 285px;
} */
.uslug_card {
  background-image: url("../images/категории/рамка2.png");
}

.nexaScriptHeavyFont {
  font-family: "Nexa Script Heavy" !important;
}

.cards .card p {
  font-family: "Nexa Script Heavy";
  font-weight: bold;
  font-size: 26px;
  margin-top: -45px;
}
/* .cards .uslug_card p {
  margin-top: -50px;
} */

.no-margin-left h4 {
  font-family: "Oswald", sans-serif !important;
  font-weight: bold;
}

.style-work ul li {
  font-family: "Oswald", sans-serif !important;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
}

.contacts {
  background-color: rgba(155, 155, 143, 0.1);
}

.inp {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts input {
  font-family: "Oswald", sans-serif !important;
  height: 40px;
  border: none;
}

.contacts textarea {
  font-family: "Oswald", sans-serif !important;
  margin-top: 20px;
  max-width: 100%;
  min-width: 100px;
  min-height: 50px;
  width: 100%;
  height: 170px;
}

.send {
  text-align: center;
}

.send button {
  cursor: pointer;
  background-color: #bd3b13;
  color: #fff;
  border: none;
  font-weight: bold;
  width: 200px;
  height: 40px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Oswald";
  letter-spacing: 1.1px;
}

#footer {
}

.foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
}
.contact {
  margin-top: 100px !important;
}

.foot h6 {
  text-transform: none;
  color: #ffff;
}
.icons {
  display: flex;
  gap: 5px;
}
.icons__item {
  position: relative;
}
.icons__item:hover {
  transform: scale(1.1);
}
.icons img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.df {
  display: flex;
  justify-content: end;
  position: relative;
}

/* this line to fuck */

.frame {
  max-width: 1335px;
  margin: 0 auto;
  border: 2px solid gray;
  -webkit-box-shadow: -1px 8px 8px 2px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: -1px 8px 8px 2px rgba(34, 60, 80, 0.3);
  box-shadow: -1px 8px 8px 2px rgba(34, 60, 80, 0.3);
}

.box {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  align-items: center;
  background-color: #e5e5dd;
  max-width: 1200px;
  /* width: 95%; */
  margin: 0 auto;
}
.map {
  display: flex;
  align-items: center;
}
#map_70852858{
  --widthMap: 960px;
  width: var(--widthMap) !important;
  height: 450px
}
.box-content {
  background: url("../images/timetable/graph.jpg") 100% / contain no-repeat;
  /* border: 1px solid gray; */
  width: 310px;
  height: 440px;
  position: absolute;
  z-index: 5;
  pointer-events: none;
  left: 20px;
}

.box-content h3 {
  padding: 10px 50px;
  display: inline-block;
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin: 18px 20px 0 20px;
}
.soalcxz {
  justify-content: space-around;
}

.box-text h4 {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 21px;
}

.box-text p {
  font-weight: bold;
  font-size: 18px;
  color: red;
}

.box-text {
  text-align: center;
}

.box-text p {
  font-family: "Oswald";
  font-weight: bold;
}

.box-color h3 {
  background-color: red;
  width: 117px;
}

.h4-wrap {
  text-align: center;
  margin: 20px 0 8px 0;
  padding: 0 20px;
  font-size: 12px;
}

.fa-whatsapp {
  color: grey;
  font-size: 30px;
}

.fa-viber {
  color: grey;
  font-size: 30px;
}

.fa-telegram {
  font-size: 30px;
  color: grey;
}

.fa-instagram {
  font-size: 30px;
  color: gray;
}

.fa-facebook {
  font-size: 30px;
  color: gray;
}

.fa-vk {
  font-size: 30px;
  color: gray;
}

.icon-contents {
  justify-content: space-between;
  padding: 0 18px;
}

.icon-contents i {
  margin: 8px;
}

.h5-wrap h5 {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  margin: 7px 0 25px 0;
  padding: 0 20px;
}

.box-text::before .left-line {
  width: 1px;
  height: 60px;
  color: gray;
}
.social img {
  width: 35px;
  height: 35px;
}
.social__link {
  transition-duration: 0.2s;
}
.social__link:hover {
  transform: scale(1.1);
}
.order {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.title_ord {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.last-title-ord {
  /* padding-bottom: 20px; */
  border-bottom: none;
}

.order_titles {
  border: 1px solid #c5c6c6;
  width: 400px;
  height: fit-content;
  /* height: 87vh; */
}
.order_input {
  /* margin-right: 45px; */
  display: flex;
  flex-direction: column;
}
#order__textarea {
  max-width: 100%;
  font-size: 15px;
  border: 1px solid black;
  font-weight: 500;
  margin: 0;
}
.number {
  margin-right: 5px;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 2px solid grey;
  border-radius: 50%;
  text-align: center;
}
.title {
}
.title_ord {
  /* padding-top: 30px; */
  /* padding-left:20px; */
}
.title p {
  margin: 0;
  font-size: 18px;
  overflow: hidden;
}
.line {
  border-bottom: 1px solid #666666;
  width: 335px;
  margin-left: 20px;
  margin-top: 10px;
}

.price {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  background-color: #bd3b13;
  color: #fff;
  text-align: center;
  height: 40px;
  width: 100%;
  border: none;
}
.order_link {
  margin-top: 15px;
  text-align: center;
}
.order_link a {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: #000;
  text-decoration: underline;
}
.counter {
  text-align: center;
  border: 1px solid #666666;
  width: 150px;
  background-color: #fff;
}
.counter button,
span {
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: 20px;
  color: gray;
}
/* .counter button:nth-child(1) {
  float: left;
}
.counter button:nth-child(3) {
  float: right;
} */
.res {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  padding: 0 6px;
}
.order_img_one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-top: 20px;
  background-color: #fff;
  border: 1px solid #c5c6c6;
  width: 310px;
  min-height: 307px;
}
.order_img_one img:nth-child(1) {
  height: 220px;
  width: 300px;
}
.order_img_one img:nth-child(2) {
  height: 250px;
  width: 250px;
  display: block;
}

.hidden {
  display: none;
}

.seal-img-target {
  background-color: #fff;
}

.pricee {
  text-align: right;
  color: #bd3b13;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 32px;
}
.ides {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-size: 26px;
  color: #666666;
  font-family: "Oswald";
}
.popup_title {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#popup_container,
#popup_container1 {
  display: none;
}
.active {
  display: block !important;
}
.active1 {
  display: block !important;
}
.popup_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ecece4;
  border: 6px solid #666666;
  text-align: center;
  position: absolute;
  top: 0;
  left: 25%;
  margin-top: 170px;
}
.popup_title h4 {
  font-family: "Oswald", sans-serif !important;
  /* color: #fff; */
  margin: 0 auto;
  padding-left: 60px;
}
.popub_close {
  background-color: transparent;
  border: none;
  font-size: 26px;
  margin-right: 50px;
  cursor: pointer;
  /* color: #fff; */
}
.popup_images .df {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.images {
  cursor: pointer;
  border: 2px solid #666666;
  background-color: #fff;
  margin: 10px;
  width: 200px;
  height: 240px;
}
.images img {
  width: 250px;
  height: 200px;
}
.images:hover {
  transition: 0.5s all;
  background-color: #fff;
  opacity: 0.45;
}
.images a p {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: "Oswald";
  font-weight: bold;
}

.nav li {
  cursor: pointer;
}

.delivery_type_parent {
  position: relative;
}

.delivery_type ~ div {
  opacity: 0;
  transition: all 0.4s;
  position: absolute;
  list-style: none;
  z-index: -1;
  top: 40px;
  background-color: #fff;
  width: 155px;
}

.delivery_type ~ div li {
  font-size: 14px;
  text-wrap: nowrap;
  cursor: pointer;
  padding: 6px 12px;
  background: white;
  font-weight: 500;
  color: black;
  border-bottom: 1px solid gray;

  &:hover {
    background-color: lightgray;
  }

  span {
    color: rgb(196, 12, 12);
    font-size: 15px;
    font-weight: 100;
  }
}

.dot-pattern {
  width: 100%;
  height: 4px;
  padding: 4px;
  /* background-color: red; */
  background-image: url(/images//border-dot.png);
  background-repeat: repeat; /* Ensures the image repeats */
  background-size: 20px 20px; /* Size of the repeated image, adjust accordingly */
  background-position: 0 0; /* Starting position of the background image */
}

/* .seal-modal-images {
  width: 100px;
  height: 100px;
  cursor: pointer;
} */

.seals-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* allows images to wrap to next line */
  gap: 10px; /* spacing between images */
  justify-content: center; /* center images horizontally */
  max-height: none; /* remove scroll limits */
  overflow: visible; /* no scroll */
  padding: 15px 20px 20px;
}
.seals-div {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
  text-align: center;
  gap: 7px;
  font-size: 15px;
}
.seals_img-div {
  /* width: 60px; /* control image size */
  /* height: 60px; */
  object-fit: contain; /* maintain aspect ratio */
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: transform 0.2s;
}
.seals_img-div:hover {
  transform: scale(1.1);
}
.seals-div p {
  margin: 0;
  padding: 10px;
  white-space: nowrap;
}
.seals-container img {
  width: 150px;
  height: 160px;
  object-fit: contain;
}

.portfolio-row {
  margin-bottom: 160px;
}

/* Dropdown container */
.dropdown-container {
  position: relative;
  width: 63%;
  /* transform: translateX(-10px);
  width: 200px; */
}

/* Input field */
#dropdown-input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 1px solid gray;
  font-size: 16px;
  padding-left: 10px;
  align-items: center;
  color: black;
  font-weight: 500;
  height: 40px;
  cursor: pointer;
}
#dropdown-input::placeholder {
  color: black;
}

/* Dropdown menu hidden by default */
.dropdown {
  width: 100%;
  background-color: white;
  grid-template-columns: repeat(5, 1fr);
  display: flex;
  z-index: 100;
}

/* Dropdown options */
.dropdown-option {
  height: 160px;
  padding: 8px 14px;
  min-height: 150px;
  background-color: white;
  border-bottom: 1px solid #eee;
  position: relative;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  cursor: pointer;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
.dropdown-option__label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.dropdown-option__label input {
  margin: 0;
}
.dropdown-label {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-self: auto;
  height: 100%;
}
.dropdown-option__size {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dropdown-option__size span {
  padding: 0;
  color: black;
  font-size: 14px;
}
/* Sub-options positioned to the right */
.sub-options {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 101;
  min-width: 50px;
  top: 100%;
  right: 0;
  font-size: 12px;
  padding: 0px 2px 0px 5px;
}

/* Hover effect for main options */
/* .dropdown-option:hover {
  background-color: #f0f0f0;
} */

/* Show the dropdown when input is focused */
#dropdown-input:focus + .dropdown {
  display: flex;
  flex-direction: row;
}

/* Show sub-options when hovering over an option */
/* .dropdown-option:hover .sub-options {
  display: block;
} */

/* Sub-option styling */
.sub-option {
  font-size: 15px;
  padding: 2px 1px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
  align-items: end;
  gap: 5px;
}
.sub-option span {
  pointer-events: none;
}
.sub-option:hover {
  background-color: #f0f0f0;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 1024px;
  min-height: 310px;
  /* min-width: 55%; */
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sealDetails {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.sealOption {
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 4px 6px;
  cursor: pointer;
  text-transform: uppercase;
  transition-duration: 0.2s;
  will-change: transform;
}
.sealOption:hover {
  transform: scale(1.1);
}

#sealList {
  padding-inline: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  font-size: 20px;
}

.imageGallery img {
  width: 160px;
  height: 165px;
  padding: 10px;
  margin: 10px;
  outline: 1px solid gray;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.imageGallery {
  display: grid;
  gap: 10px;
  padding: 10px;
  max-height: 500px;
  overflow: auto;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
}

.imageGallery img:hover {
  transform: scale(1.1);
}
input:placeholder {
  font-size: 12px;
}
.order_input label {
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.counter {
  font-size: 12px;
  /* padding-top: 8px; */
}

.counter button {
  font-weight: 700;
  color: gray;
}

.order_input label {
  padding: 8px 20px 8px 20px;
}
.price-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.price-title1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #bd3b13;
  white-space: nowrap;
  margin: 0;
  align-self: end;
}

.order-form {
  display: flex;
  gap: 10px;
}
/* input:not(:invalid){
  border: 1px solid red;
} */
button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
.invalid {
  display: none;
  margin: 0;
  color: #bd3b13;
}
dialog {
  position: absolute !important;
  top: 24em !important;
  width: 350px;
  max-height: 570px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px 0px 10px 10px;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: white;
  margin: 0 auto; /* override centering */
}
dialog::backdrop {
  background: transparent !important;
}

/* Close button styles */
dialog .close {
  position: fixed; /* Changed from absolute to fixed */
  top: 15px; /* Adjust as needed */
  right: 15px; /* Adjust as needed */
  font-size: 2px;
  font-weight: bold;
  cursor: pointer;
  color: #666;
  background: white; /* Add background */
  border-radius: 50%; /* Circular background */
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd; /* Optional border */
  z-index: 1001; /* Higher than dialog */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

dialog .close:hover {
  color: #000;
  background: #f5f5f5;
}

/* Large screens (900px and above) */
@media (min-width: 900px) {
  dialog {
    width: 100%;
    width: 1024px;
  }
}

/* Medium screens (768px-899px) */
@media (min-width: 768px) and (max-width: 899px) {
  dialog {
    width: 600px;
    max-height: 350px;
  }
}

/* Small screens (mobile) */
@media (max-width: 767px) {
  dialog {
    width: 95vw;
    max-height: 60vh;
    /* Convert to bottom sheet on mobile */
    top: auto !important;
    bottom: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  }
}

/* Prevent body scroll when dialog is open */
body.dialog-open {
  overflow: hidden;
}

/* Стили для фильтрации каталога */
.filter-btn {
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  background: none;
  border: none;
  font-size: 18px;
  color: #4a4a43;
}

.filter-btn:hover {
  opacity: 0.8;
}

.filter-btn.current {
  color: #bd370d;
  /* font-weight: bold; */
}

.works__item {
  transition: all 0.3s ease;
  opacity: 1;
  transform: scale(1);
}

.works__item.hidden {
  opacity: 0;
  transform: scale(0.8);
  display: none;
}

/* Плавная анимация для контейнера печатей */
.pechat_container {
  transition: all 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.pechat_container.hidden {
  opacity: 0;
  transform: translateY(-10px);
  display: none;
}

/* Стили для навигации фильтров */
.modGallery .nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* margin-bottom: 25px; */
  flex-wrap: wrap;
}

.modGallery .nav li {
  list-style: none;
}

.modGallery .nav li a {
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.modGallery .nav li a:hover {
  color: #bd3b13;
}

/* Стили для модальных окон выбора */
.options-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0;
}

.option-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #fff;
}

.option-item:hover {
  border-color: #bd3b13;
  background-color: #f9f9f9;
  transform: translateY(-2px);
}

.option-item span:first-child {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.option-item span:last-child {
  font-size: 16px;
  font-weight: bold;
  color: #bd3b13;
}
